<content-header title="Ciclo de Pagamentos" sub-title="Cadastro"></content-header>

<section class="content">
	<div class="nav-tabs-custom" ng-controller="BillingCycleCtrl as bcCtrl">
		<ul class="nav nav-tabs"> 
			<li ng-if="bcCtrl.tabList" ng-class="{active: bcCtrl.tabList}"><a href data-target="#tabList" data-toggle="tab"><i class="fa fa-bars">Lista</i></a></li>
			<li ng-if="bcCtrl.tabCreate" ng-class="{active: bcCtrl.tabCreate}"><a href data-target="#tabCreate" data-toggle="tab"><i class="fa fa-plus">Incluir</i></a></li>
			<li ng-if="bcCtrl.tabUpdate" ng-class="{active: bcCtrl.tabUpdate}"><a href data-target="#tabUpdate" data-toggle="tab"><i class="fa fa-pencil">Alterar</i></a></li>
			<li ng-if="bcCtrl.tabDelete" ng-class="{active: bcCtrl.tabDelete}"><a href data-target="#tabDelete" data-toggle="tab"><i class="fa fa-trash-o">Excluir</i></a></li>
		</ul>
		<div class="tab-content">
			<div id="tabList" ng-if="bcCtrl.tabList" ng-class="{active: bcCtrl.tabList}" class="tab-pane" ng-include="'billingcycle/list.html'"></div>
			<div id="tabCreate" ng-if="bcCtrl.tabCreate" ng-class="{active: bcCtrl.tabCreate}" class="tab-pane" ng-include="'billingcycle/form.html'"></div>
			<div id="tabUpdate" ng-if="bcCtrl.tabUpdate" ng-class="{active: bcCtrl.tabUpdate}" class="tab-pane" ng-include="'billingcycle/form.html'"></div>
			<div id="tabDelete" ng-if="bcCtrl.tabDelete" ng-class="{active: bcCtrl.tabDelete}" class="tab-pane" ng-include="'billingcycle/form.html'"></div>
		</div>
	</div>
</section>